<div><form id='npform' >
    <input type="text" class="newProjectItem" name="Project_Title" placeholder=" Project Title" id='Project_Title'>
    <textarea class="newProjectItem" name="Description" placeholder=" Description" id='Description'></textarea>
    <input class="newProjectItem" name="Repository" placeholder=" Repository" id='Repository'>
    <div>
        <input type="text" class="newProjectItem" name="Categories" placeholder="Categories" id='Categories'>
        <button id='addCategory' type="submit">Add Category</button>
        <div class='tagsDiv'><p class='tags'><strong>current</strong></p></div>
    </div>
    <br />
    <div>
        <input type="text" class="newProjectItem" name="Link" placeholder="Link" id='Repository'>
        <button id='addCategory' type="submit">Add Link</button>
        <div class='tagsDiv'><p class='tags'><strong>current</strong></p></div>
    </div>
    <br />
    <input type="text" class="newProjectItem" name="Roadmap" placeholder="Roadmap" id='Categories'>
        <button id='addCategory' type="submit">Add Goal</button>
        <div class='tagsDiv'><p  class='tags'><strong>current</strong></p></div>
    
    <a ><button  id='submit' type="submit">Save</button></a>
</form></div>
