<div class='signbox'>
    <input class='signfield' type="text" name="username" id='username'  placeholder="username" />
    <input class='signfield' type="password" name="password"    id='password' placeholder="password" />
    <a routerLink="/projects"><button class='submit'>Login</button></a>
</div>

<div class='or'>
    OR
</div>

<div class='signbox'>
    <input class='signfield' type="email"   name="email" id='email'   placeholder="email" />
    <input class='signfield' type="password" name="password"    id='password' placeholder="password" />
    <input class='signfield' type="text"    name="username" id='username'  placeholder="username" />
    <a routerLink="/projects"><button class='submit'>Register</button></a>
</div>
<router-outlet></router-outlet>