.display {
    display: inline-block;
    background-color: #cad2c5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
    border: none;
    border-radius: 12px;
    margin: 20px;
    margin-top: 80px;
    z-index: 0;
    width: 300px;
}

.displaytitle {
    background-color: #2f3e46;
    box-shadow: 0 25.6px 57.6px 0 rgba(0, 0, 0, .22), 0 4.8px 14.4px 0 rgba(0, 0, 0, .18),;
    color: white;
    display: inline-block;
    z-index: 0;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 15px;
}

.descriptionDiv {
    background-color: #CAD2C5;
    height: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.descriptionDiv:hover {
    background-color: #CAD2C5;
    height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.creatorName {
    display: inline-block;
    font-size: 16px;
    position: relative;
    bottom: 25px;
    margin-left: 12px;
    z-index: 0;
    background-color: #2f3e46;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.tagDiv {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.tagDiv:hover {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
}

.tags {
    display: inline-block;
    flex-direction: row;
    background-color: #84a98c;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 12px;
    border: none;
    border-radius: 6px;
    width: max-content;
}